.navbar-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 0 0 20px 0;
}

.navbar-brand {
    flex: 2 0 auto;
}

.navbar-brand-text {
    font-family: 'Sanchez';
    color: #fff;
}

.navbar-links {
    display: flex;
    flex: 2 0 auto;
}

.navbar-links > li {
    padding: 15px;
    margin: auto;
    list-style: none;
    background: #007ac9;
}

.navbar-links > li > a {
    font-family: 'Sanchez';
    text-decoration: none;
    color: #fff;
}

.navbar-links > li:hover {
    opacity: 0.75;
    transform: scale(1.05);
}

.navbar-links > li:hover > a.active {
    border-bottom: 0px;
}

.navbar-links > li > a.active {
    border-bottom: 1px dotted #fff;
}
