.navbar-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.navbar-brand {
    flex: 2 0 auto;
}

.navbar-brand-text {
    font-family: 'Sanchez';
}

.navbar-links {
    display: flex;
    flex: 2 0 auto;
}

.navbar-links > a {
    padding: 15px;
    margin: auto;
    font-family: 'Lato';
}

