.landing-section {
    margin: auto;
}

.landing-article {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-article-head {
    font-family: 'Pacifico';
    font-size: 6em;
    color: #00A1FF;
    margin: auto;
}

.landing-article-presentation {
    font-family: 'Merriweather';
    font-weight: 600;
    font-size: 2em;
    color: #fff;
}

.landing-article-presentation-details {
    font-family: 'Merriweather';
    color: #fff;
}

.landing-ability {
    color: #FF8C0B;
}
